body {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

img, button, li {
  cursor: pointer;
}

input, select {
  outline: none;
}

.searchResImage {
  border-radius: 20px;
  object-fit: cover;
}

.select {
  background-color: #A0937D;
  color: #F8F4E1;
}